block variables
header
  .container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item: a.nav-link(href="index.html" class= currentURL == 'index.html' ? "active" : "") Home
          li.nav-item: a.nav-link(href="blog.html" class= currentURL == 'blog.html' ? "active" : "") Blog
          li.nav-item: a.nav-link(href="about.html" class= currentURL == 'about.html' ? 'active':'') About


